<section class="section container custom-bike-section">
    <div class="row">
        <div class="layers">
            <div class="layer"><img src="/bikes/Bike-Layers_0000s_0013_Original-Black-White.png" alt=""></div>
            <div class="layer"><img src="/bikes/Bike-Layers_0000s_0000_Wheels-Orange.png" alt=""></div>
            <div class="layer"><img src="/bikes/Bike-Layers_0000s_0009_Body-Teal.png" alt=""></div>
            <div class="layer"><img src="/bikes/Bike-Layers_0000s_0003_Bars-Pink.png" alt=""></div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center">
            <span class="waves-effect waves-light red lighten-2 btn">Body</span>
            <span class="waves-effect waves-light red lighten-3 btn">Wheels</span>
            <span class="waves-effect waves-light red lighten-3 btn">Handlebars</span>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center">
            <span class="color btn-small" style="background: red;"></span>
            <span class="color btn-small" style="background: yellow;"></span>
            <span class="color btn-small" style="background: blue;"></span>
        </div>
    </div>
    <div class="row">
        <div class="custom-price">
            <h5 class="red-text">$900</h5>
            <span class="waves-effect waves-light teal lighten-2 btn">BUY NOW</span>
        </div>
    </div>
</section>