<section class="parallax-container black-layer">
    <div class="parallax"><img src="/images/bicycle.jpg"></div>
    <div class="container">
        <div class="welcome">
            <p class="white-text center">WELCOME TO</p>
        </div>
        <div class="center-align">
            <h1 class="white-text">SWIFT</h1>
        </div>
    </div>
</section>
<section class="section red lighten-2 white-text">
    <div class="row container">
        <h1 class="center-align">Be Original</h1>
        <h1 class="center-align">“COPIES FADE TOO FAST.”</h1>
    </div>
</section>
<section class="section">
    <div class="row container">
        <h6 class="center-align grey-text text-darken-2">START HERE</h6>
        <h2 class="center-align">3 STEPS TO FUN</h2>
        <h6 class="center-align grey-text text-darken-2">Choose Your Frame • Choose Your Speed • Choose Your Fun</h6>
    </div>
    <div class="row container">
        <div class="col s4">
            <div class="step-1"><img class="responsive-img" src="/images/step-1.png" alt=""> </div>
        </div>
        <div class="col s4">
            <div class="step-2"><img class="responsive-img" src="/images/step-2.png" alt=""></div>
        </div>
        <div class="col s4">
            <div class="step-3"><img class="responsive-img" src="/images/step-3.png" alt=""></div>
        </div>
    </div>
    <div class="row container center">
        <a class="waves-effect waves-light btn-large red lighten-2" href="/customiser">Customise My Bike</a>
    </div>
</section>

<script>
  $(document).ready(function () {
    $('.parallax').parallax()
  })
</script>