<!DOCTYPE html>
<html>
<head>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/vendor/materialize/css/materialize.min.css"  media="screen,projection"/>
    <!-- Custom Style -->
    <link type="text/css" rel="stylesheet" href="/styles/styles.css"/>

    <!--JavaScript at end of body for optimized loading-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/vendor/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
<header>
    <!-- Main Navigation -->
    <header>
        <nav>
            <div class="container">
                <div class="nav-wrapper teal">
                    <a href="/" class="brand-logo comfortaa bold">Swift</a>
                    <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/">Home</a></li>
                        <li><a href="/customiser">Customiser</a></li>
                        <li><a href="/cart">My Cart</a></li>
                        <li><a href="/login-signup">Sign Up / Log In</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Mobile Nav -->
        <ul class="sidenav" id="mobile">
            <li><a href="/">Home</a></li>
            <li><a href="/customiser">Customiser</a></li>
            <li><a href="/cart">My Cart</a></li>
            <li><a href="/login-signup">Sign Up / Log In</a></li>
        </ul>
    </header>
</header>
<main>
    {{{ body }}}
</main>
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright <a class="grey-text text-lighten-4 right" href="#">Back To Top</a>
        </div>
    </div>
</footer>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav')
    var instances = M.Sidenav.init(elems, {})
  })

  $(document).ready(function(){
    $('.sidenav').sidenav()
  })
</script>
</body>
</html>