<section class="section black-layer">
    <div class="container center white-text">
        <h1>Shopping Cart</h1>
    </div>
</section>
<section class="section">
    <div class="row container">
        <div class="progress" id="progress">
            <div class="indeterminate"></div>
        </div>
        <table id="cart-table" class="striped responsive-table hide">
            <thead>
            <tr>
                <th>Final Look</th>
                <th>Base Price</th>
                <th>Additional</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td id="final-look"><img style="width: 200px" class="responsive-img" src=""></td>
                <td id="base-price"></td>
                <td id="additional-price"></td>
                <td id="total"></td>
            </tr>
            </tbody>
        </table>
        <div id="no-item-found" class="hide">
            <h2 class="text-center hide">There is no item in your cart</h2>
        </div>
    </div>
    <div class="row container right-align">
        <a class="waves-effect waves-light btn-large red lighten-2" href="#">Buy Now</a>
    </div>
</section>

<script>
  $(document).ready(function () {
    const progressBar = $('#progress')
    const cartTable = $('#cart-table')
    const noItemFound = $('#no-item-found')

    const cartItems = localStorage.getItem('cart')

    if (!cartItems) {
      progressBar.hide()
      noItemFound.removeClass('hide')
    } else {
      const { productImage, basePrice, price } = JSON.parse(cartItems)
      const additionalPrice = parseInt(price) - parseInt(basePrice)

      $('#final-look img').attr('src', productImage)
      $('#base-price').text(`$${basePrice}`)
      $('#additional-price').text(`$${additionalPrice}`)
      $('#total').text(`$${price}`)

      progressBar.hide()
      cartTable.removeClass('hide')
    }
  })
</script>