<section class="section black-layer">
    <div class="container center white-text">
        <h1>Authentication!</h1>
    </div>
</section>
<section class="section">
    <div class="row container center">
        {{#if error}}
            <h1>{{ error }}</h1>
        {{else}}
            <h1>Authentication Failed</h1>
        {{/if}}
    </div>
    <div class="row container center">
        <a class="waves-effect waves-light btn-large red lighten-2" href="/login-signup">Try Again</a>
    </div>
</section>
